.select {
    font-weight: 400;
    font-size: 14px;
    padding: 5px 58px 5px 10px;

    border: 1px solid #C2C2C2;
}

.select:focus {
    border: 1px solid #000;
}


.option:hover {
    background-color: #1E90FF;
}
